In [1]:
import pandas as pd
from random import randint

In [2]:
data=pd.read_csv("daily-minimum-temperatures-in-me.csv")

In [3]:
class Labeling():
    def __init__(self,dataset):
        self.dataset=dataset
        self.samples=self.dataset.shape[0]
        labels=[]
        for x in range(self.samples):
            labels.append(randint(1,4))
        X=pd.DataFrame(labels,index=list(range(self.samples)))
        self.dataset=pd.concat([self.dataset,X],axis=1,ignore_index=False)
    def __str__(self):
        return f"{self.dataset}"

In [4]:
q=Labeling(data)
print(q)

            Date Daily minimum temperatures  0
0       1/1/1981                       20.7  2
1       1/2/1981                       17.9  1
2       1/3/1981                       18.8  4
3       1/4/1981                       14.6  2
4       1/5/1981                       15.8  3
...          ...                        ... ..
3645  12/27/1990                         14  4
3646  12/28/1990                       13.6  2
3647  12/29/1990                       13.5  1
3648  12/30/1990                       15.7  3
3649  12/31/1990                         13  1

[3650 rows x 3 columns]

In [5]:
labels=[]
samples=data.shape[0]
for x in range(samples):
    labels.append(randint(1,4))
labels=pd.DataFrame(labels,index=list(range(samples)))
data=pd.concat([data,labels],axis=1,ignore_index=False)

In [6]:
q.dataset.rename(columns={0:"label"})

            Date Daily minimum temperatures  label
0       1/1/1981                       20.7      2
1       1/2/1981                       17.9      1
2       1/3/1981                       18.8      4
3       1/4/1981                       14.6      2
4       1/5/1981                       15.8      3
...          ...                        ...    ...
3645  12/27/1990                         14      4
3646  12/28/1990                       13.6      2
3647  12/29/1990                       13.5      1
3648  12/30/1990                       15.7      3
3649  12/31/1990                         13      1

[3650 rows x 3 columns]